%margin-white {
    margin: 0 1em;
}

.info-section {
    background: $pitchred-color;
}

.icon-section {
    background: white;
    margin: 1em;
    padding: inherit;
    .twitter-icon { @extend %margin-white; }
    .instagram-icon { @extend %margin-white; }
    .github-icon { @extend %margin-white; }
    
}
.profile-section {
    margin-top: 0.75em;
    background: $skywhite-color;
    margin-bottom: 2em;
}

.profile-section {
    border-radius: 0.75em;
    padding: 0 0.5em;
}

@media (min-width:39.375em) { // 630 px
  .content-area {
      background: white;
      border-radius: 0.5em;
      margin-top: 1em;
      padding: 0.75em;
      
  }
}
