@import "bootstrap/bootstrap";
@import "fontawesome-all";
@import "variables";
@import "home";
@import "profile";


body {
    background: $pitchred-color;
}

img {
    width: 100%;
}


.icon-section {
    margin-bottom: 0.75em;
    background: white;
    border-radius: 0.5em;
}

@media (min-width:39.375em) { // 630 px
  
}