@import "bootstrap/bootstrap";
@import "fontawesome-all";
@import "variables";
@import "home";
@import "resume";




img {
    width: 100%;
}


.icon-section {
    margin-bottom: 0.75em;
    background: white;
    border-radius: 0.5em;
}

