@import "reset";
@import "variables";
@import "home";
@import "profile";
@import "bootstrap/bootstrap";

body {
    background: $skyblue-color;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}